<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<h1>WebSocket Chat Test</h1>
<script>
    const socket = new SockJS('http://localhost:8080/ws-chat');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, (frame) => {
        console.log('Connected: ' + frame);

        const roomId = 1;
        stompClient.subscribe(`/topic/${roomId}`, (message) => {
            console.log("Received:", JSON.parse(message.body));
        });
        stompClient.send(`/app/chat.sendMessage/${roomId}`, {}, JSON.stringify({'content': 'Hello World!'}));
    });
</script>

</body>
</html>
